:root {
  --accent-color: #e4e4c0;
  --background-color: #1b1b1b;
  --branding-color: #a00229;
  --font-color: #e8e8e8;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Noto Sans", sans-serif;
}

@media (max-width: 900px) {
  h1 {
    font-size: 42px;
    line-height: 1.1;
  }

  h2 {
    font-size: 44px;
  }

  h4 {
    font-size: 26px;
  }

  .hero {
    padding: 80px 20px;
  }

  .description-box {
    padding: 0;
    text-align: center;
  }
  .content {
    padding: 0;
    text-align: center;
  }
}

body {
  background: radial-gradient(
      at bottom right,
      rgba(222, 221, 221, 0.11) 0,
      rgba(222, 221, 221, 0.11) 8px,
      rgba(222, 221, 221, 0.2) 8px,
      rgba(222, 221, 221, 0.2) 16px,
      rgba(222, 221, 221, 0.75) 16px,
      rgba(222, 221, 221, 0.75) 24px,
      rgba(222, 221, 221, 0.25) 24px,
      rgba(222, 221, 221, 0.25) 32px,
      rgba(222, 221, 221, 0.3) 32px,
      rgba(222, 221, 221, 0.3) 40px,
      rgba(222, 221, 221, 0.75) 40px,
      rgba(222, 221, 221, 0.75) 48px,
      rgba(222, 221, 221, 0.2) 48px,
      rgba(222, 221, 221, 0.2) 56px,
      transparent 56px,
      transparent 64px
    ),
    radial-gradient(
      at top left,
      transparent 0,
      transparent 8px,
      rgba(222, 221, 221, 0.2) 8px,
      rgba(222, 221, 221, 0.2) 16px,
      rgba(222, 221, 221, 0.75) 16px,
      rgba(222, 221, 221, 0.75) 24px,
      rgba(222, 221, 221, 0.3) 24px,
      rgba(222, 221, 221, 0.3) 32px,
      rgba(222, 221, 221, 0.25) 32px,
      rgba(222, 221, 221, 0.25) 40px,
      rgba(222, 221, 221, 0.75) 40px,
      rgba(222, 221, 221, 0.75) 48px,
      rgba(222, 221, 221, 0.2) 48px,
      rgba(222, 221, 221, 0.2) 56px,
      rgba(222, 221, 221, 0.11) 56px,
      rgba(222, 221, 221, 0.11) 64px,
      transparent 64px,
      transparent 160px
    );
  background-blend-mode: multiply;
  background-size: 64px 64px, 64px 64px;
  background-color: #1b1b1b;
  /* background-color: var(--background-color); */
  color: var(--font-color);
  font-family: var(--primary-font);
}

footer {
  margin: 20px 0;
}

footer p {
  font-family: var(--secondary-font);
  font-size: 15px;
  margin: 0;
}

footer p a {
  color: var(--branding-color);
  text-decoration: none;
}

footer .social-links a {
  color: var(--branding-color);
  font-size: 22px;
  margin: 0 20px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover,
footer p a:hover {
  color: var(--accent-color);
}

h2 {
  font-size: 54px;
  font-weight: 800;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
nav {
  background-color: var(--background-color);
  box-shadow: 8px 8px 8px #141414;
}

nav a {
  color: var(--font-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

nav li {
  font-weight: 600;
  display: inline;
  list-style: none;
  line-height: 55px;
  margin-left: 18px;
padding-right: 3px;
}

nav ul {
  margin: 0;
  padding: 0;
}

.accent-color {
  color: var(--accent-color);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 30px;
  color: var(--font-color);
  font-size: 16px;
  letter-spacing: 1.3px;
  line-height: 27px;
  padding: 18px 25px;
}

.btn-launchButton {
  background: var(--branding-color);
  border-radius: 30px;
  color: var(--font-color);
  font-size: 16px;
  letter-spacing: 1.3px;
  padding: 18px 25px;
  width: 150px;
}

.btn-branding:hover,
.btn-launchButton:hover {
  background: var(--background-color);
  color: var(--font-color);
  border-color: #e8e8e8;
}

.contact-links a {
  color: #e4e4c0;
  text-decoration: none;
}

.content-container {
  padding: 90px 40px !important;
}

.content {
  margin: 15px;
}

.content h1 {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 5.4px;
}

.content h5 {
  font-family: var(--secondary-font);
  font-size: 28px;
}

.content h3 {
  color: var(--branding-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}
.content h4 {
  color: var(--accent-color);
  font-size: 18px;
}

.content p {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1.7;
}

.description-box h6 {
  color: var(--accent-color);
}

.hero {
  text-align: center;
  padding: 150px 20px;
}

.hero h1 {
  font-style: italic;
  font-size: 86px;
  font-weight: bold;
  letter-spacing: 5.4px;
}

.hero h1:hover {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-size: 28px;
  font-weight: normal;
  line-height: 2;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.intro-text {
  font-family: var(--secondary-font);
  font-style: italic;
  margin-bottom: 100px !important;
}

.logo {
  margin-top: 5px;
  max-height: 45px;
}

.project-titles {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4.4px;
}

.weather-pic {
  margin-left: 10px;
}
