:root {
  --accent-color: #e4e4c0;
  --background-color: #1b1b1b;
  --branding-color: #950025;
  --font-color: #e8e8e8;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Noto Sans", sans-serif;
}

@media (max-width: 900px) {
  .description-box {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--primary-font);
}

h2 {
  font-size: 54px;
  font-weight: 800;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
nav a {
  color: var(--font-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

nav li {
  font-weight: 600;
  display: inline;
  list-style: none;
  line-height: 55px;
  margin-left: 18px;
}

nav ul {
  margin: 0;
  padding: 0;
}

.accent-color {
  color: var(--accent-color);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 30px;
  color: var(--font-color);
  font-size: 16px;
  letter-spacing: 1.3px;
  line-height: 27px;
  padding: 18px 25px;
}

.btn-launchButton {
  background: var(--branding-color);
  border-radius: 30px;
  color: var(--font-color);
  font-size: 16px;
  letter-spacing: 1.3px;
  padding: 18px 25px;
  width: 150px;
}

.contact-links a {
  color: #e4e4c0;
  text-decoration: none;
}

.content-container {
  padding: 80px 40px;
}

.content {
  margin: 15px;
}

.content h1 {
  font-size: 64px;
  letter-spacing: 4.4px;
}

.content h3 {
  color: var(--branding-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}
.content h4 {
  color: var(--accent-color);
  font-size: 18px;
}

.content p {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1.7;
}

.description-box h6 {
  color: var(--accent-color);
}

.hero {
  text-align: center;
  padding: 150px 20px;
}

.hero h1 {
  font-style: italic;
  font-size: 86px;
  font-weight: bold;
  letter-spacing: 5.4px;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-size: 28px;
  font-weight: normal;
  line-height: 2;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.intro-text {
  font-family: var(--secondary-font);
  font-style: italic;
  margin-bottom: 100px !important;
}

.logo {
  margin-top: 5px;
  max-height: 45px;
}

.project-titles {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4.4px;
}

.weather-pic {
  margin-left: 10px;
}
