:root {
  --background-color: #1b1b1b;
  --branding-color: #800020;
  --font-color: #e8e8e8;
}

body {
  background-color: var(--background-color);
  color: #e8e8e8;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 86px;
  font-weight: bold;
  letter-spacing: 5.4px;
}

.hero {
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-size: 28px;
  font-weight: normal;
  line-height: 2;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 30px;
  color: var(--font-color);
  font-size: 16px;
  gap: 10px;
  letter-spacing: 1.3px;
  line-height: 27px;
  padding: 18px 20px;
  width: 140px;
}
